<div class="title">Oops... malhereusement, nous n'avons pas été capable de trouver de photos de votre chat. Cependant,
  nous avons trouvé des questions de culture générale à vous poser si le coeur vous en dit.
</div>
<div class="question">{{question.question}}</div>
<div class="buttons-div">
  <div class="answer-wrapper" *ngFor="let answer of question.answers">
    <button mat-button class="answer"
            (click)="verify(answer?.valid)"
            [style.background-color]="answer.color"
            [style.color]="lightOrDark(answer.color) === 'light' ? '#000000' : '#EEDDFF'">{{answer.text}}</button>
  </div>
</div>
